$primary: #106be0;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$steel: rgb(92, 90, 90);
$ghost: #f4f5fb;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts - style.scss에서 정의하기 위해서 주석 처리
// $font-family-base: Helvetica, Arial, sans-serif, -apple-system;
// $font-family-heading: 'DM Serif Display', serif, -apple-system;
