// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-grid';
@import 'variables';
@import 'bootstrap/mixins';
@import "bootstrap/utilities/text";

// Fonts 관련 변수의 처리
// - variables (_variables.scss)에 있던 글꼴 관련 변수를 style.scss로 가져옴
// - scss 파일에서 (css template)에서 hugo의 사이트 설정 파일 (Site configuration file)에서 
// 지정한 변수를 읽어 들여서 css 파일을 생성하도록 할 수 있는데, top level scss가 아닌 경우에는 
// hugo의 Site 변수를 쓰면 에러를 뿜어내며 뻗는다. 글꼴 변수 처리를 variables에서 하지 못하고 
// 최상위 scss인 style.scss에 가져와서 처리하였다.
$font-family-base: {{ $.Site.Params.font.base | default "Helvetica, Arial, Nanum Gothic, Noto Sans KR, sans-serif, -apple-system" }};
$font-family-heading: {{ $.Site.Params.font.heading | default "Helvetica, Arial, Nanum Gothic, Noto Sans KR, sans-serif, -apple-system" }};
$font-family-code: {{ $.Site.Params.font.code | default "monospace, -apple-system" }};

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';

// Site 설정 파일에서 읽어들인 변수 값으로 본문, 머리글, 코드의 글꼴 종류를 지정한다.
body {
  font-size: 16px;
  line-height: 1.1;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 17px;
    line-height: 1.2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

.main-menu, .footer {
  font-family: $font-family-heading;
}

pre {
 font-family: $font-family-code;
}

// Display breakpoints for DEV
{{ if .Site.IsServer }}
body:after {
  color: #000000;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  bottom: 10px;
  width: 200px;
  z-index: 9999;
  border: solid 1px #000000;
  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint-up($name) {
      content: '#{$name} - min-width: #{$value}';
    }
  }
}
{{ end }}
