<footer class="site-footer" style="position:relative">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

{{ if isset .Site.Params "address" }}
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
{{ .Site.Params.description | safeHTML }}
        <br/>
<strong>본사: </strong>
        {{ .Site.Params.address.city }}
        {{ .Site.Params.address.street }}
        {{ .Site.Params.directions }}
        <br/>
<strong>TEL: </strong>
        {{ .Site.Params.phone }}
<strong>FAX: </strong>
        {{ .Site.Params.fax }}
<strong>EMAIL: </strong>
        {{ .Site.Params.email }}
<br/><br/>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<img src="{{ "img/future/banners/logo.svg" | relURL }}" class="img-responsive" alt="{{ .Title }}">

<br/><br/>
</p>
</div>
</div>

{{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
  </p>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}

  <p class="powered-by">
    <!-- Powered by -->
    <!-- <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic</a> for -->
    <!-- <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a>. -->

    {{ if not (in (slice "docs" "updates") .Type) }}
    <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
